
# <font color="#0080ff"> Acidentes de tr√¢nsito no Brasil em 2022 </font>
### Limpeza, tratamento e prepara√ß√£o dos dados.
<hr color="#F5F5F5" size="1">

<strong>Por Rodrigo Xavier dos Santos</strong>

![title](acidente.png)

<a id='contexto-projeto'></a>
## <font color="#0080ff"> Sobre o contexto do projeto</font>
<hr color="#F5F5F5" size="1">

O Instituto de Pesquisa Econ√¥mica Aplicada (Ipea) estima em <strong>45 mil mortos anuais</strong> e R$ 50 bilh√µes de custo econ√¥mico o resultado dos acidentes de tr√¢nsito no Brasil. Em 2017, esses acidentes representaram a principal causa de mortes de crian√ßas entre 5 e 14 anos no pa√≠s. Recentemente, a legisla√ß√£o mudou para punir com mais rigor o homic√≠dio culposo de tr√¢nsito. Especialistas em audi√™ncia no Senado defendem educa√ß√£o no tr√¢nsito nas escolas brasileiras.

**Fonte: [TV Senado](https://www12.senado.leg.br/tv/programas/em-discussao/2022/09/transito-brasileiro-45-mil-mortes-e-r-50-bilhoes-de-prejuizo-economico)**

<div class="alert alert-info"> 
<strong><div style="color: rgb(0, 0, 0);">üìå Os principais objetivos deste projeto: </div></strong> <br>
<div style="color: rgb(0, 0, 0);">‚Üí Explorar os dados; </div>
<div style="color: rgb(0, 0, 0);">‚Üí Aplicar t√©cnicas de limpeza de dados;</div>
<div style="color: rgb(0, 0, 0);">‚Üí Disponibilizar os dados tratados para an√°lise em outras ferramentas.</div>
</div>

<div class="alert alert-warning"> 
<strong><div style="color: rgb(0, 0, 0);">A fonte de dados:</div></strong> <br>
    <div style="color: rgb(0, 0, 0);">
        ‚Üí Os dados s√£o p√∫blicos e referente a acidentes de tr√¢nsito no Brasil em 2022 at√© (setembro).<br>
        ‚Üí Esse dataset foi alimentado pela <strong>Pol√≠cia Rodovi√°ria Federal.</strong>

A fonte de dados completa pode ser baixado em **[gov.br](https://www.gov.br/prf/pt-br/acesso-a-informacao/dados-abertos/dados-abertos-acidentes)**
</div>

<a id='carregando-dados'></a>
## <font color="#0080ff"> 1 - Importando os pacotes e m√≥dulos</font>
<hr color="#F5F5F5" size="1">

In [1]:
# Vers√£o da Linguagem Python
from platform import python_version
print('Vers√£o da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Vers√£o da Linguagem Python Usada Neste Jupyter Notebook: 3.9.12

In [2]:
# Importando os pacotes
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys, os
import warnings
warnings.filterwarnings("ignore")

In [24]:
# Vamos adicionar caminho para o m√≥dulo Python que iremos utilizar para tratar os outliers
sys.path.append(os.path.abspath(os.path.join('modulos')))
from estrategia1 import *
from estrategia2 import *
from estrategia3 import *

In [4]:
# Vers√µes dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Rodrigo Xavier dos Santos" --iversions

Author: Rodrigo Xavier dos Santos

seaborn   : 0.11.2
numpy     : 1.21.5
sys       : 3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]
matplotlib: 3.5.1
pandas    : 1.2.4

<a id='carregando-dados'></a>
## <font color="#0080ff"> 2 - Carregando os dados</font>
<hr color="#F5F5F5" size="1">

In [60]:
# Carrega os dados
dados = pd.read_csv('dados/acidentes2022.csv' , sep = ';', engine = 'python', encoding='iso-8859-1')

In [61]:
#Quantidade de linhas e colunas
dados.shape

(376770, 37)

In [62]:
#habilitar o pandas a mostrar as 36 colunas, onde geralmente traz um resumo.
pd.set_option("display.max_columns", 36)

In [63]:
#Visualiza√ß√£o da tabela
dados.head()

,id,pesid,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_principal,causa_acidente,ordem_tipo_acidente,tipo_acidente,classificacao_acidente,fase_dia,sentido_via,condicao_metereologica,tipo_pista,...,uso_solo,id_veiculo,tipo_veiculo,marca,ano_fabricacao_veiculo,tipo_envolvido,estado_fisico,idade,sexo,ilesos,feridos_leves,feridos_graves,mortos,latitude,longitude,regional,delegacia,uop
0,405147,911178.0,2022-01-01,s√°bado,00:10:00,CE,222.0,"2,8",FORTALEZA,Sim,Ingest√£o de √°lcool pelo condutor,1,Colis√£o transversal,Com V√≠timas Feridas,Plena Noite,Crescente,C√©u Claro,M√∫ltipla,...,Sim,734116,Autom√≥vel,CHEV/ONIX PLUS JOY BLACK/ONIX PLUS JOY BLACK,2021.0,Condutor,Ileso,45.0,Masculino,1,0,0,0,"-3,73911117","-38,58687498",SPRF-CE,DEL01-CE,UOP01-DEL01-CE
1,405147,911179.0,2022-01-01,s√°bado,00:10:00,CE,222.0,"2,8",FORTALEZA,Sim,Ingest√£o de √°lcool pelo condutor,1,Colis√£o transversal,Com V√≠timas Feridas,Plena Noite,Crescente,C√©u Claro,M√∫ltipla,...,Sim,734115,Motocicleta,HONDA/CG150 TITAN MIX ES/CG150 TITAN MIX ES,2009.0,Condutor,Les√µes Graves,59.0,Masculino,0,0,1,0,"-3,73911117","-38,58687498",SPRF-CE,DEL01-CE,UOP01-DEL01-CE
2,405149,912796.0,2022-01-01,s√°bado,01:30:00,PE,104.0,63,CARUARU,N√£o,Rea√ß√£o tardia ou ineficiente do condutor,2,Queda de ocupante de ve√≠culo,Com V√≠timas Feridas,Plena Noite,Crescente,C√©u Claro,Dupla,...,Sim,734109,Motocicleta,YAMAHA/FACTOR YBR125 K/FACTOR YBR125 K,2009.0,Passageiro,Les√µes Leves,25.0,Feminino,0,1,0,0,"-8,2698","-35,9803",SPRF-PE,DEL02-PE,UOP01-DEL02-PE
3,405149,912793.0,2022-01-01,s√°bado,01:30:00,PE,104.0,63,CARUARU,N√£o,Rea√ß√£o tardia ou ineficiente do condutor,2,Queda de ocupante de ve√≠culo,Com V√≠timas Feridas,Plena Noite,Crescente,C√©u Claro,Dupla,...,Sim,734109,Motocicleta,YAMAHA/FACTOR YBR125 K/FACTOR YBR125 K,2009.0,Condutor,Les√µes Graves,37.0,Masculino,0,0,1,0,"-8,2698","-35,9803",SPRF-PE,DEL02-PE,UOP01-DEL02-PE
4,405149,913204.0,2022-01-01,s√°bado,01:30:00,PE,104.0,63,CARUARU,N√£o,Rea√ß√£o tardia ou ineficiente do condutor,2,Queda de ocupante de ve√≠culo,Com V√≠timas Feridas,Plena Noite,Crescente,C√©u Claro,Dupla,...,Sim,734108,Autom√≥vel,VW/FOX CONNECT MB/FOX CONNECT MB,2019.0,Passageiro,N√£o Informado,NaN,N√£o Informado,0,0,0,0,"-8,2698","-35,9803",SPRF-PE,DEL02-PE,UOP01-DEL02-PE

In [64]:
# Informa√ß√µes gerais dos dados
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376770 entries, 0 to 376769
Data columns (total 37 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      376770 non-null  int64
 1   pesid                   341560 non-null  float64
 2   data_inversa            376770 non-null  object
 3   dia_semana              376770 non-null  object
 4   horario                 376770 non-null  object
 5   uf                      376770 non-null  object
 6   br                      375213 non-null  float64
 7   km                      375213 non-null  object
 8   municipio               376770 non-null  object
 9   causa_principal         376770 non-null  object
 10  causa_acidente          376770 non-null  object
 11  ordem_tipo_acidente     376770 non-null  int64
 12  tipo_acidente           376770 non-null  object
 13  classificacao_acidente  376770 non-null  object
 14  fase_dia                376770 non-null  object
 15  sentido_via             376770 non-null  object
 16  condicao_metereologica  376770 non-null  object
 17  tipo_pista              376770 non-null  object
 18  tracado_via             376770 non-null  object
 19  uso_solo                376770 non-null  object
 20  id_veiculo              376770 non-null  int64
 21  tipo_veiculo            376770 non-null  object
 22  marca                   359749 non-null  object
 23  ano_fabricacao_veiculo  355296 non-null  float64
 24  tipo_envolvido          376770 non-null  object
 25  estado_fisico           376770 non-null  object
 26  idade                   297633 non-null  float64
 27  sexo                    376770 non-null  object
 28  ilesos                  376770 non-null  int64
 29  feridos_leves           376770 non-null  int64
 30  feridos_graves          376770 non-null  int64
 31  mortos                  376770 non-null  int64
 32  latitude                376770 non-null  object
 33  longitude               376770 non-null  object
 34  regional                376753 non-null  object
 35  delegacia               371373 non-null  object
 36  uop                     376440 non-null  object
dtypes: float64(4), int64(7), object(26)
memory usage: 106.4+ MB

<div class="alert alert-success"> 
<strong><div style="color: rgb(0, 0, 0);">üí° </div></strong> <br>
     <div style="color: rgb(0, 0, 0);">  ‚Üí Observando as colunas, podemos perceber que as colunas <strong>"data_inversa" e "horario"</strong> s√£o, na verdade, valores de data e hora, embora sejam rotuladas como objetos pelo pandas. Al√©m dessas duas colunas, temos quatro colunas que n√£o ser√£o necess√°rias em nossa an√°lise, <strong>"ID", "id_veiculo", "pesid" e "uop"</strong>. Portanto, vamos <strong>converter duas colunas e excluir outras quatro</strong>. <br>
         
‚Üí Como o dataset n√£o tinha um dicion√°rio de dados, n√£o foi poss√≠vel identificar do que se refere as colunas <strong>"pesid" e "uop"</strong>.</div>         
</div>

In [65]:
# Converte para datetime as colunas "data_inversa" e "horario"
convert_to_datetime(dados, ['data_inversa', 'horario'])

In [66]:
# N√£o usaremos a coluna ID. Vamos remov√™-la.
dados.drop(["id"], axis = 1, inplace = True)

In [67]:
# N√£o usaremos a coluna id_veiculo. Vamos remov√™-la.
dados.drop(["id_veiculo"], axis = 1, inplace = True)

In [68]:
# N√£o usaremos a coluna pesid.
dados.drop(["pesid"], axis = 1, inplace = True)

In [69]:
# N√£o usaremos a coluna uop. Vamos remov√™-la.
dados.drop(["uop"], axis = 1, inplace = True)

<div class="alert alert-warning"> 
<strong><div style="color: rgb(0, 0, 0);">Verificando se existe alguma var√≠avel num√©rica que na verdade seja dados booleanos (True / False)</div></strong>
</div>

In [70]:
# Descrevendo os dados num√©ricos
dados.describe()

,br,ordem_tipo_acidente,ano_fabricacao_veiculo,idade,ilesos,feridos_leves,feridos_graves,mortos
count,375213.000000,376770.000000,355296.000000,297633.000000,376770.000000,376770.000000,376770.000000,376770.000000
mean,216.258829,1.710526,2011.548056,39.157022,0.355464,0.298182,0.113772,0.048650
std,127.503385,0.986313,7.890299,34.278203,0.478654,0.457460,0.317535,0.215136
min,10.000000,1.000000,1900.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,116.000000,1.000000,2008.000000,27.000000,0.000000,0.000000,0.000000,0.000000
50%,163.000000,1.000000,2013.000000,37.000000,0.000000,0.000000,0.000000,0.000000
75%,324.000000,2.000000,2018.000000,49.000000,1.000000,1.000000,0.000000,0.000000
max,495.000000,12.000000,2022.000000,2021.000000,1.000000,1.000000,1.000000,1.000000

In [71]:
# Registros para cada dado da coluna br
dados.br.value_counts()

116.0    54436
101.0    43541
163.0    19881
153.0    17425
40.0     16983
         ...
265.0        9
437.0        4
484.0        4
434.0        2
342.0        2
Name: br, Length: 115, dtype: int64

<div class="alert alert-success"> 
<strong><div style="color: rgb(0, 0, 0);">üí° </div></strong> <br>
    <div style="color: rgb(0, 0, 0);">  ‚Üí A var√≠avel <strong>br</strong> n√£o necessita ser do tipo num√©rico, iremos transformar em categ√≥rico.</div>         
</div>

In [72]:
# Irei converter a vari√°vel "br" em object
dados.br = dados.br.astype("object")

In [73]:
# Registros para cada dado da coluna ordem_tipo_acidente
dados.ordem_tipo_acidente.value_counts()

1     204673
2     105169
3      48917
4      12181
5       3494
6       1093
7        569
8        339
9        174
10       101
11        30
12        30
Name: ordem_tipo_acidente, dtype: int64

In [74]:
# Registros para cada dado da coluna idade
dados.idade.value_counts()

28.0      7951
34.0      7944
35.0      7742
40.0      7675
33.0      7654
          ...
112.0        1
256.0        1
222.0        1
935.0        1
1022.0       1
Name: idade, Length: 114, dtype: int64

<div class="alert alert-success"> 
<strong><div style="color: rgb(0, 0, 0);">üí° </div></strong> <br>
    <div style="color: rgb(0, 0, 0);">  ‚Üí A var√≠avel <strong>idade</strong> tem alguns valores que indicam erro no registro dos dados, com idades acima de 95 anos. Irei resolver mais a frente.</div>         
</div>

In [79]:
# Registros para cada dado da coluna ilesos
dados.ilesos.value_counts()

0    242842
1    133928
Name: ilesos, dtype: int64

In [80]:
# Registros para cada dado da coluna feridos_leves
dados.feridos_leves.value_counts()

0    264424
1    112346
Name: feridos_leves, dtype: int64

In [81]:
# Registros para cada dado da coluna feridos_graves
dados.feridos_graves.value_counts()

0    333904
1     42866
Name: feridos_graves, dtype: int64

In [82]:
# Registros para cada dado da coluna mortos
dados.mortos.value_counts()

0    358440
1     18330
Name: mortos, dtype: int64

<div class="alert alert-success"> 
<strong><div style="color: rgb(0, 0, 0);">üí° </div></strong> <br>
     <div style="color: rgb(0, 0, 0);">  ‚Üí As vari√°veis <strong>"ilesos", "feridos_leves", "feridos_graves" e "mortos"</strong> s√£o do tipo booleano. <strong>Irei transformar para o tipo object</strong>. E a var√≠√°vel <strong>"ordem_tipo_acidente" irei excluir</strong>, pois n√£o √© relevante para a an√°lise de dados futura, pois a mesma n√£o tem informa√ß√µes adicionais sobre as categorias representadas</strong> </strong>.</div>         
</div>

In [83]:
# Agora convertemos para object a vari√°vel ilesos
dados.ilesos = dados.ilesos.astype("object")

In [84]:
# Agora convertemos para object a vari√°vel feridos_leves
dados.feridos_leves = dados.feridos_leves.astype("object")

In [85]:
# Agora convertemos para object a vari√°vel feridos_graves
dados.feridos_graves = dados.feridos_graves.astype("object")

In [86]:
# Agora convertemos para object a vari√°vel mortos
dados.mortos = dados.mortos.astype("object")

In [87]:
# N√£o usaremos a coluna ordem_tipo_acidente. Vamos remov√™-la.
dados.drop(["ordem_tipo_acidente"], axis = 1, inplace = True)

<div class="alert alert-warning"> 
<strong><div style="color: rgb(0, 0, 0);">Verificando se temos dados duplicados</div></strong>
</div>

In [88]:
dados.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
376765    False
376766    False
376767    False
376768    False
376769    False
Length: 376770, dtype: bool

In [89]:
# Informa√ß√µes gerais dos dados ap√≥s altera√ß√µes
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376770 entries, 0 to 376769
Data columns (total 32 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   data_inversa            376770 non-null  datetime64[ns]
 1   dia_semana              376770 non-null  object
 2   horario                 376770 non-null  datetime64[ns]
 3   uf                      376770 non-null  object
 4   br                      375213 non-null  object
 5   km                      375213 non-null  object
 6   municipio               376770 non-null  object
 7   causa_principal         376770 non-null  object
 8   causa_acidente          376770 non-null  object
 9   tipo_acidente           376770 non-null  object
 10  classificacao_acidente  376770 non-null  object
 11  fase_dia                376770 non-null  object
 12  sentido_via             376770 non-null  object
 13  condicao_metereologica  376770 non-null  object
 14  tipo_pista              376770 non-null  object
 15  tracado_via             376770 non-null  object
 16  uso_solo                376770 non-null  object
 17  tipo_veiculo            376770 non-null  object
 18  marca                   359749 non-null  object
 19  ano_fabricacao_veiculo  355296 non-null  float64
 20  tipo_envolvido          376770 non-null  object
 21  estado_fisico           376770 non-null  object
 22  idade                   297633 non-null  float64
 23  sexo                    376770 non-null  object
 24  ilesos                  376770 non-null  object
 25  feridos_leves           376770 non-null  object
 26  feridos_graves          376770 non-null  object
 27  mortos                  376770 non-null  object
 28  latitude                376770 non-null  object
 29  longitude               376770 non-null  object
 30  regional                376753 non-null  object
 31  delegacia               371373 non-null  object
dtypes: datetime64[ns](2), float64(2), object(28)
memory usage: 92.0+ MB

In [90]:
# Descrevendo os dados n√£o num√©ricos
dados.describe(include = object)

,dia_semana,uf,br,km,municipio,causa_principal,causa_acidente,tipo_acidente,classificacao_acidente,fase_dia,sentido_via,condicao_metereologica,tipo_pista,tracado_via,uso_solo,tipo_veiculo,marca,tipo_envolvido,estado_fisico,sexo,ilesos,feridos_leves,feridos_graves,mortos,latitude,longitude,regional,delegacia
count,376770,376770,375213.0,375213,376770,376770,376770,376770,376770,376770,376770,376770,376770,376770,376770,376770,359749,376770,376770,376770,376770,376770,376770,376770,376770,376770,376753,371373
unique,7,27,115.0,6968,1748,2,72,16,3,4,3,10,3,10,2,25,6064,6,5,4,2,2,2,2,27404,27388,27,147
top,domingo,MG,116.0,2,CURITIBA,Sim,Rea√ß√£o tardia ou ineficiente do condutor,Colis√£o traseira,Com V√≠timas Feridas,Pleno dia,Crescente,C√©u Claro,Simples,Reta,N√£o,Autom√≥vel,SR/RANDON SR CA/RANDON SR CA,Condutor,Ileso,Masculino,0,0,0,0,"-10,735312","-62,19715",SPRF-MG,DEL01-PR
freq,66530,48240,54436.0,1454,5626,217115,48730,54623,269836,199463,202095,230356,211667,216139,225140,133191,5386,221554,133928,231833,242842,264424,333904,358440,672,672,48195,16719

In [91]:
# Descrevendo os dados num√©ricos
dados.describe()

       ano_fabricacao_veiculo          idade
count           355296.000000  297633.000000
mean              2011.548056      39.157022
std                  7.890299      34.278203
min               1900.000000       0.000000
25%               2008.000000      27.000000
50%               2013.000000      37.000000
75%               2018.000000      49.000000
max               2022.000000    2021.000000

<a id='carregando-dados'></a>
## <font color="#0080ff"> 3 - Identificando e resolvendo os valores ausentes e outliers</font>
<hr color="#F5F5F5" size="1">

In [92]:
#Temos valores ausentes?
dados.isna().any()

data_inversa              False
dia_semana                False
horario                   False
uf                        False
br                         True
km                         True
municipio                 False
causa_principal           False
causa_acidente            False
tipo_acidente             False
classificacao_acidente    False
fase_dia                  False
sentido_via               False
condicao_metereologica    False
tipo_pista                False
tracado_via               False
uso_solo                  False
tipo_veiculo              False
marca                      True
ano_fabricacao_veiculo     True
tipo_envolvido            False
estado_fisico             False
idade                      True
sexo                      False
ilesos                    False
feridos_leves             False
feridos_graves            False
mortos                    False
latitude                  False
longitude                 False
regional                   True
delegacia                  True
dtype: bool

In [93]:
#Quantidade de valores ausentes
dados.isna().sum()

data_inversa                  0
dia_semana                    0
horario                       0
uf                            0
br                         1557
km                         1557
municipio                     0
causa_principal               0
causa_acidente                0
tipo_acidente                 0
classificacao_acidente        0
fase_dia                      0
sentido_via                   0
condicao_metereologica        0
tipo_pista                    0
tracado_via                   0
uso_solo                      0
tipo_veiculo                  0
marca                     17021
ano_fabricacao_veiculo    21474
tipo_envolvido                0
estado_fisico                 0
idade                     79137
sexo                          0
ilesos                        0
feridos_leves                 0
feridos_graves                0
mortos                        0
latitude                      0
longitude                     0
regional                     17
delegacia                  5397
dtype: int64

<a id='carregando-dados'></a>
### <font color="#0080ff"> 3.1 - Tratando os valores ausentes de cada vari√°vel</font>
<hr color="#F5F5F5" size="1">

<div class="alert alert-warning"> 
<strong><div style="color: rgb(0, 0, 0);">Tratando a vari√°vel "br"</div></strong>
</div>

In [94]:
# Calcula o percentual de valores ausentes na vari√°vel br
dados.br.isnull().mean()*100

0.4132494625368262

Como o percentual √© baixo n√£o podemos eliminar a coluna. Podemos ent√£o eliminar os registros com valores ausentes (nesse caso perder√≠amos 1557 linhas no dataset) ou podemos aplicar imputa√ß√£o. Vamos usar a segunda op√ß√£o.
A vari√°vel est√° com tipo float, iremos alterar para tipo object, pois n√£o √© necess√°rio c√°lculo com a mesma.

<div class="alert alert-success"> 
<strong><div style="color: rgb(0, 0, 0);">üí° </div></strong> <br>
     <div style="color: rgb(0, 0, 0);">  ‚Üí Como o percentual √© baixo n√£o podemos eliminar a coluna. Podemos ent√£o eliminar os registros com valores ausentes (nesse caso perder√≠amos 1557 linhas no dataset) ou podemos aplicar imputa√ß√£o. Vamos usar a segunda op√ß√£o. </strong>.</div>         
</div>

In [96]:
# Categorias da vari√°vel
dados.br.value_counts()

116.0    54436
101.0    43541
163.0    19881
153.0    17425
40.0     16983
         ...
265.0        9
437.0        4
484.0        4
342.0        2
434.0        2
Name: br, Length: 115, dtype: int64

In [97]:
# Vamos imputar com a moda, o valor mais frequente da vari√°vel.
dados.br.mode()

0    116.0
dtype: object

In [98]:
# imputa√ß√£o com a moda
dados.br.fillna("116.0", inplace = True)

In [99]:
# Valores ausentes tratados com sucesso
dados.br.isnull().sum()

0

<div class="alert alert-warning"> 
<strong><div style="color: rgb(0, 0, 0);">Tratando a vari√°vel "km"</div></strong>
</div>

In [100]:
# Calcula o percentual de valores ausentes na vari√°vel km
dados.km.isnull().mean()*100

0.4132494625368262

In [102]:
# Tipo de dados da vari√°vel
dados.km.dtypes

dtype('O')

<div class="alert alert-success"> 
<strong><div style="color: rgb(0, 0, 0);">üí° </div></strong> <br>
     <div style="color: rgb(0, 0, 0);">  ‚Üí Como o percentual √© baixo n√£o podemos eliminar a coluna. Podemos ent√£o eliminar os registros com valores ausentes (nesse caso perder√≠amos 1557 linhas no dataset) ou podemos aplicar imputa√ß√£o. Vamos usar a primeira op√ß√£o. Decidi eliminar os registros, pois a moda seria o KM2, por√©m esse KM existe em in√∫meras BRs, o que poderia ser relevante no resultado da an√°lise desta vari√°vel </strong>.</div>         
</div>

In [103]:
# Eliminando os registros
dados.dropna(subset = ["km"], inplace = True)

In [104]:
# Valores ausentes tratados com sucesso
dados.km.isnull().sum()

0

<div class="alert alert-warning"> 
<strong><div style="color: rgb(0, 0, 0);">Tratando a vari√°vel "marca"</div></strong>
</div>

In [105]:
# Calcula o percentual de valores ausentes na vari√°vel marca
dados.marca.isnull().mean()*100

4.527295163014075

In [106]:
#Tipo de dado da vari√°vel
dados.marca.dtypes

dtype('O')

In [107]:
# Categorias da vari√°vel
dados.marca.value_counts()

SR/RANDON SR CA/RANDON SR CA                       5380
VW/GOL 1.0/GOL 1.0                                 3922
HONDA/CG 160 FAN/CG 160 FAN                        3775
HONDA/CG 160 START/CG 160 START                    3365
MBENZ/MPOLO PARADISO R/MPOLO PARADISO R            3337
                                                   ...
SR/PASTRE PCONTEINER 3E/PASTRE PCONTEINER 3E          1
VW/MPOLO VIALE U/MPOLO VIALE U                        1
I/NISSAN VERSA SENSE CVT/NISSAN VERSA SENSE CVT       1
GM/CHEVETTE SL 1.6/CHEVETTE SL 1.6                    1
M.BENZ/1723/1723                                      1
Name: marca, Length: 6059, dtype: int64

In [108]:
#Quantidade de valores nulos.
#Os valores diminuiram, pois exclu√≠mos alguns registros anteriormente.
dados.marca.isna().sum()

16987

<div class="alert alert-success"> 
<strong><div style="color: rgb(0, 0, 0);">üí° </div></strong> <br>
     <div style="color: rgb(0, 0, 0);">  ‚Üí Como o percentual √© baixo n√£o podemos eliminar a coluna, utilizo uma margem de 30% para a exclus√£o da coluna. Podemos ent√£o eliminar os registros com valores ausentes (nesse caso perder√≠amos 16987 linhas no dataset) ou podemos aplicar imputa√ß√£o. Mas decidi n√£o utilizar a moda para imputa√ß√£o, pois como se trata de marca e modelo acho importante apenas deixar como <strong>"n√£o identificado"</strong> </strong>.</div>         
</div>

In [109]:
# imputa√ß√£o
dados.marca.fillna("NAO IDENTIFICADO", inplace = True)

In [110]:
# Valores ausentes tratados com sucesso
dados.marca.isnull().sum()

0

In [111]:
# Registros para cada marca
dados.marca.value_counts()

NAO IDENTIFICADO                                   16987
SR/RANDON SR CA/RANDON SR CA                        5380
VW/GOL 1.0/GOL 1.0                                  3922
HONDA/CG 160 FAN/CG 160 FAN                         3775
HONDA/CG 160 START/CG 160 START                     3365
                                                   ...
SR/PASTRE PCONTEINER 3E/PASTRE PCONTEINER 3E           1
VW/MPOLO VIALE U/MPOLO VIALE U                         1
I/NISSAN VERSA SENSE CVT/NISSAN VERSA SENSE CVT        1
GM/CHEVETTE SL 1.6/CHEVETTE SL 1.6                     1
M.BENZ/1723/1723                                       1
Name: marca, Length: 6060, dtype: int64

<div class="alert alert-warning"> 
<strong><div style="color: rgb(0, 0, 0);">Tratando a vari√°vel "ano_fabricacao_veiculo"</div></strong>
</div>

In [112]:
# Calcula o percentual de valores ausentes na vari√°vel ano_fabricacao_veiculo
dados.ano_fabricacao_veiculo.isnull().mean()*100

5.706625303494282

In [113]:
#Tipo de dado da vari√°vel
dados.ano_fabricacao_veiculo.dtypes

dtype('float64')

<div class="alert alert-success"> 
<strong><div style="color: rgb(0, 0, 0);">üí° </div></strong> <br>
     <div style="color: rgb(0, 0, 0);">  ‚Üí Vamos alterar o tipo de dados da var√≠avel, pois se refere a dados categ√≥ricos, o ano de fabrica√ß√£o do ve√≠culo</strong> </strong>.</div>         
</div>

In [114]:
# Agora convertemos para object
dados.ano_fabricacao_veiculo = dados.ano_fabricacao_veiculo.astype("object")

In [115]:
#Tipo de dado da vari√°vel ap√≥s a convers√£o
dados.ano_fabricacao_veiculo.dtypes

dtype('O')

In [116]:
# Registros para cada ano_fabricacao_veiculo
dados.ano_fabricacao_veiculo.value_counts()

2019.0    25086
2021.0    23735
2013.0    23263
2011.0    22526
2014.0    20424
          ...
1960.0        7
1965.0        4
1962.0        3
1964.0        1
1929.0        1
Name: ano_fabricacao_veiculo, Length: 63, dtype: int64

In [117]:
#Quantidade de valores nulos.
#Os valores diminuiram, pois exclu√≠mos alguns registros anteriormente.
dados.ano_fabricacao_veiculo.isna().sum()

21412

<div class="alert alert-success"> 
<strong><div style="color: rgb(0, 0, 0);">üí° </div></strong> <br>
     <div style="color: rgb(0, 0, 0);">  ‚Üí Como os valores ausentes s√£o menos de 30% dos registros, n√£o iremos excluir a coluna. Eu poder√≠a excluir os registros, mas acredito n√£o ser pertinente, pois s√£o mais de 5% dos registros. Tamb√©m n√£o poderia fazer a imputa√ß√£o pela moda, pois interfere no ano que √© ligado ao modelo e marca de cada ve√≠culo. Ent√£o iremos utilizar a mesma estrat√©gia da var√≠avel anterior, imputando por "n√£o identificado"</strong> </strong>.</div>         
</div>

In [118]:
# imputa√ß√£o
dados.ano_fabricacao_veiculo.fillna("NAO IDENTIFICADO", inplace = True)

In [119]:
# Valores ausentes tratados com sucesso
dados.ano_fabricacao_veiculo.isnull().sum()

0

In [120]:
# Registros para cada ano_fabricacao_veiculo
dados.ano_fabricacao_veiculo.value_counts()

2019.0              25086
2021.0              23735
2013.0              23263
2011.0              22526
NAO IDENTIFICADO    21412
                    ...
1960.0                  7
1965.0                  4
1962.0                  3
1964.0                  1
1929.0                  1
Name: ano_fabricacao_veiculo, Length: 64, dtype: int64

<div class="alert alert-warning"> 
<strong><div style="color: rgb(0, 0, 0);">Tratando a vari√°vel "idade"</div></strong>
</div>

In [121]:
# Calcula o percentual de valores ausentes na vari√°vel idade
dados.idade.isnull().mean()*100

21.013131208140443

In [122]:
# Verificando o tipo de dado
dados.idade.dtypes

dtype('float64')

In [123]:
# Registros para cada idade
dados.idade.value_counts()

34.0      7905
28.0      7894
35.0      7702
40.0      7640
33.0      7577
          ...
112.0        1
256.0        1
222.0        1
935.0        1
1022.0       1
Name: idade, Length: 114, dtype: int64

In [124]:
# Vamos verificar qual √© a m√©dia de idade.
dados.idade.mean()

39.16918098721526

In [125]:
# Vamos verificar qual √© a mediana.
dados.idade.median()

37.0

In [126]:
# Vamos verificar qual √© a moda.
dados.idade.mode()

0    34.0
dtype: float64

<div class="alert alert-success"> 
<strong><div style="color: rgb(0, 0, 0);">üí° </div></strong> <br>
     <div style="color: rgb(0, 0, 0);">  ‚Üí Irei utilizar a mediana para a imputa√ß√£o dos dados ausente na vari√°vel idade, pois a mediana √© resistente a outliers. Os outliers ir√£o ser resolvidos mais a frente</strong> </strong>.</div>         
</div>

In [127]:
# imputa√ß√£o pela mediana
dados.idade.fillna("34", inplace = True)

In [128]:
# Valores ausentes tratados com sucesso
dados.idade.isnull().sum()

0

<div class="alert alert-success"> 
<strong><div style="color: rgb(0, 0, 0);">üí° </div></strong> <br>
     <div style="color: rgb(0, 0, 0);">  ‚Üí Irei alterar os dados da vari√°vel para inteiro, pois a idade n√£o necessita ser decimal</strong> </strong>.</div>         
</div>

In [129]:
# Agora convertemos para int
dados.idade = dados.idade.astype("int")

In [130]:
# Resultado ap√≥s convers√£o
dados.idade.dtypes

dtype('int32')

<div class="alert alert-warning"> 
<strong><div style="color: rgb(0, 0, 0);">Tratando a vari√°vel "regional"</div></strong>
</div>

In [131]:
# Calcula o percentual de valores ausentes na vari√°vel regional
dados.regional.isnull().mean()*100

0.0

<div class="alert alert-success"> 
<strong><div style="color: rgb(0, 0, 0);">üí° </div></strong> <br>
     <div style="color: rgb(0, 0, 0);">  ‚Üí A vari√°vel "regional" tinha 17 valores ausentes, por√©m a nesna foi resolvida quando excluimos os registros de outras vari√°veis acima.</strong> </strong>.</div>         
</div>

<div class="alert alert-warning"> 
<strong><div style="color: rgb(0, 0, 0);">Tratando a vari√°vel "delegacia"</div></strong>
</div>

In [132]:
# Calcula o percentual de valores ausentes na vari√°vel delegacia
dados.delegacia.isnull().mean()*100

1.3869455482619206

In [133]:
# Verificando o tipo de dado
dados.delegacia.dtypes

dtype('O')

In [134]:
# Registros para cada dado da coluna
dados.delegacia.value_counts()

DEL01-PR    16711
DEL01-MG     9290
DEL01-SC     7612
DEL01-SP     7324
DEL04-SC     7306
            ...
DEL07-SP      485
DEL05-RJ      473
DEL12-RS      426
DEL03-RN      339
DEL02-PI      312
Name: delegacia, Length: 146, dtype: int64

<div class="alert alert-success"> 
<strong><div style="color: rgb(0, 0, 0);">üí° </div></strong> <br>
     <div style="color: rgb(0, 0, 0);">  ‚Üí Como o tipo de dado √© 'object' vamos imputar com a moda, pois m√©dia e mediana apenas em dados num√©ricos</strong> </strong>.</div>         
</div>

In [135]:
# Irei verificar qual √© a moda
dados.delegacia.mode()

0    DEL01-PR
dtype: object

In [136]:
# imputa√ß√£o pela moda
dados.delegacia.fillna("DEL01-PR", inplace = True)

In [137]:
# Valores ausentes tratados com sucesso
dados.delegacia.isnull().sum()

0

In [138]:
#Valores nulos resolvidos
dados.isna().any()

data_inversa              False
dia_semana                False
horario                   False
uf                        False
br                        False
km                        False
municipio                 False
causa_principal           False
causa_acidente            False
tipo_acidente             False
classificacao_acidente    False
fase_dia                  False
sentido_via               False
condicao_metereologica    False
tipo_pista                False
tracado_via               False
uso_solo                  False
tipo_veiculo              False
marca                     False
ano_fabricacao_veiculo    False
tipo_envolvido            False
estado_fisico             False
idade                     False
sexo                      False
ilesos                    False
feridos_leves             False
feridos_graves            False
mortos                    False
latitude                  False
longitude                 False
regional                  False
delegacia                 False
dtype: bool

<a id='carregando-dados'></a>
### <font color="#0080ff"> 3.2 - Resolvendo os outliers</font>
<hr color="#F5F5F5" size="1">

<div class="alert alert-warning"> 
<strong><div style="color: rgb(0, 0, 0);">Tratando os outliers em vari√°veis n√∫mericas</div></strong>
</div>

In [149]:
# Cria o objeto trata outlier
trata_outlier = TrataOutlier(dados)

In [150]:
# dados gerais
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 375213 entries, 0 to 376769
Data columns (total 32 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   data_inversa            375213 non-null  datetime64[ns]
 1   dia_semana              375213 non-null  object
 2   horario                 375213 non-null  datetime64[ns]
 3   uf                      375213 non-null  object
 4   br                      375213 non-null  object
 5   km                      375213 non-null  object
 6   municipio               375213 non-null  object
 7   causa_principal         375213 non-null  object
 8   causa_acidente          375213 non-null  object
 9   tipo_acidente           375213 non-null  object
 10  classificacao_acidente  375213 non-null  object
 11  fase_dia                375213 non-null  object
 12  sentido_via             375213 non-null  object
 13  condicao_metereologica  375213 non-null  object
 14  tipo_pista              375213 non-null  object
 15  tracado_via             375213 non-null  object
 16  uso_solo                375213 non-null  object
 17  tipo_veiculo            375213 non-null  object
 18  marca                   375213 non-null  object
 19  ano_fabricacao_veiculo  375213 non-null  object
 20  tipo_envolvido          375213 non-null  object
 21  estado_fisico           375213 non-null  object
 22  idade                   375213 non-null  int32
 23  sexo                    375213 non-null  object
 24  ilesos                  375213 non-null  object
 25  feridos_leves           375213 non-null  object
 26  feridos_graves          375213 non-null  object
 27  mortos                  375213 non-null  object
 28  latitude                375213 non-null  object
 29  longitude               375213 non-null  object
 30  regional                375213 non-null  object
 31  delegacia               375213 non-null  object
dtypes: datetime64[ns](2), int32(1), object(29)
memory usage: 93.0+ MB

In [151]:
# A vari√°vel idade √© a √∫nica num√©rica do tipo "int".
# Irei colocar ela dentro de uma vari√°vel para ser utilizada com um m√≥dulo d etratamento de outliers
lista_colunas = dados.select_dtypes('int32').columns.tolist()

In [152]:
lista_colunas

['idade']

In [153]:
# Vis√£o geral dos outliers das colunas tipo int32
trata_outlier.getOverview(lista_colunas)

Nome de Coluna        idade
Min                       0
Q1                     30.0
Median                 34.0
Q3                     45.0
Max                    2021
IQR                    15.0
Lower fence             7.5
Upper fence            67.5
Skew              47.362807
Num_Outliers          16507
Percent_Outliers      11.0%

<div class="alert alert-success"> 
<strong><div style="color: rgb(0, 0, 0);">üí° </div></strong> <br>
    <div style="color: rgb(0, 0, 0);">  ‚Üí A coluna <strong>"idade"</strong> cont√©m 11% de outliers. Irei tratar.</strong> </strong></div>         
</div>

In [155]:
# Registros para cada dado da coluna
dados.idade.value_counts()

34      86749
28       7894
35       7702
40       7640
33       7577
        ...
935         1
112         1
96          1
1039        1
1022        1
Name: idade, Length: 114, dtype: int64

In [157]:
# Replace dos outliers
trata_outlier.replace_outliers_with_fences(lista_colunas)

In [158]:
# Vis√£o geral dos outliers ap√≥s tratamento
trata_outlier.getOverview(lista_colunas)

Nome de Coluna       idade
Min                    7.5
Q1                    30.0
Median                34.0
Q3                    45.0
Max                   67.5
IQR                   15.0
Lower fence            7.5
Upper fence           67.5
Skew              0.401413
Num_Outliers             0
Percent_Outliers      0.0%

<div class="alert alert-warning"> 
<strong><div style="color: rgb(0, 0, 0);">Tratando os outliers em vari√°veis categ√≥ricas</div></strong>
</div>

<div class="alert alert-success"> 
<strong><div style="color: rgb(0, 0, 0);">üí° </div></strong> <br>
    <div style="color: rgb(0, 0, 0);">  ‚Üí A var√≠avel idade tem alguns valores que indicam erro no registro dos dados, com idades acima de 95 anos. Irei resolver.</strong> </strong></div>         
</div>

In [159]:
# Coloco em uma vari√°vel os dados acima de 95 anos.
exclui_idades_95 = dados[ dados['idade'] > 95].index

In [160]:
# Excluo os dados acima de 95 anos
dados.drop(exclui_idades_95 , inplace=True)

In [162]:
# Registros para cada dado da coluna idade ap√≥s a exclus√£o de dados outliers
dados.idade.value_counts()

34.0    86749
67.5    10898
28.0     7894
35.0     7702
40.0     7640
        ...
11.0      864
9.0       753
10.0      747
13.0      714
12.0      676
Name: idade, Length: 62, dtype: int64

## 2 - Salvando os dados em csv para an√°lise em outra ferramenta

In [163]:
# Quantidade de linhas e colunas ap√≥s o tratamento dos dados
dados.shape

(375213, 32)

In [165]:
# Vis√£o geral da tabela
dados.head()

,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_principal,causa_acidente,tipo_acidente,classificacao_acidente,fase_dia,sentido_via,condicao_metereologica,tipo_pista,tracado_via,uso_solo,tipo_veiculo,marca,ano_fabricacao_veiculo,tipo_envolvido,estado_fisico,idade,sexo,ilesos,feridos_leves,feridos_graves,mortos,latitude,longitude,regional,delegacia
0,2022-01-01,s√°bado,2022-12-02 00:10:00,CE,222.0,"2,8",FORTALEZA,Sim,Ingest√£o de √°lcool pelo condutor,Colis√£o transversal,Com V√≠timas Feridas,Plena Noite,Crescente,C√©u Claro,M√∫ltipla,Interse√ß√£o de vias,Sim,Autom√≥vel,CHEV/ONIX PLUS JOY BLACK/ONIX PLUS JOY BLACK,2021.0,Condutor,Ileso,45.0,Masculino,1,0,0,0,"-3,73911117","-38,58687498",SPRF-CE,DEL01-CE
1,2022-01-01,s√°bado,2022-12-02 00:10:00,CE,222.0,"2,8",FORTALEZA,Sim,Ingest√£o de √°lcool pelo condutor,Colis√£o transversal,Com V√≠timas Feridas,Plena Noite,Crescente,C√©u Claro,M√∫ltipla,Interse√ß√£o de vias,Sim,Motocicleta,HONDA/CG150 TITAN MIX ES/CG150 TITAN MIX ES,2009.0,Condutor,Les√µes Graves,59.0,Masculino,0,0,1,0,"-3,73911117","-38,58687498",SPRF-CE,DEL01-CE
2,2022-01-01,s√°bado,2022-12-02 01:30:00,PE,104.0,63,CARUARU,N√£o,Rea√ß√£o tardia ou ineficiente do condutor,Queda de ocupante de ve√≠culo,Com V√≠timas Feridas,Plena Noite,Crescente,C√©u Claro,Dupla,Interse√ß√£o de vias,Sim,Motocicleta,YAMAHA/FACTOR YBR125 K/FACTOR YBR125 K,2009.0,Passageiro,Les√µes Leves,25.0,Feminino,0,1,0,0,"-8,2698","-35,9803",SPRF-PE,DEL02-PE
3,2022-01-01,s√°bado,2022-12-02 01:30:00,PE,104.0,63,CARUARU,N√£o,Rea√ß√£o tardia ou ineficiente do condutor,Queda de ocupante de ve√≠culo,Com V√≠timas Feridas,Plena Noite,Crescente,C√©u Claro,Dupla,Interse√ß√£o de vias,Sim,Motocicleta,YAMAHA/FACTOR YBR125 K/FACTOR YBR125 K,2009.0,Condutor,Les√µes Graves,37.0,Masculino,0,0,1,0,"-8,2698","-35,9803",SPRF-PE,DEL02-PE
4,2022-01-01,s√°bado,2022-12-02 01:30:00,PE,104.0,63,CARUARU,N√£o,Rea√ß√£o tardia ou ineficiente do condutor,Queda de ocupante de ve√≠culo,Com V√≠timas Feridas,Plena Noite,Crescente,C√©u Claro,Dupla,Interse√ß√£o de vias,Sim,Autom√≥vel,VW/FOX CONNECT MB/FOX CONNECT MB,2019.0,Passageiro,N√£o Informado,34.0,N√£o Informado,0,0,0,0,"-8,2698","-35,9803",SPRF-PE,DEL02-PE

In [166]:
# Salva em CSV
dados.to_csv('dados/acidentes2022_tratados.csv', index = False)